body {
    margin: 70px;
    font-family: Arial, sans-serif;
    background-image: url('images/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
}

.about-content {
    text-align: justify;
}

.about-content h1 {
    text-align: center;
}

.about-content p {
    margin: 15px,0px,15px,0px;
    
}

@media screen and (max-width: 800px) {
    .about-container {
        padding: 30px;
    }
}
