@media only screen and (max-width: 768px) {
    nav ul {
        flex-direction: column; 
        align-items: center; 
    }

    nav li {
        margin: 5px;
    }
}

@media only screen and (max-width: 480px) {
    .hobbies-grid {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}


@media only screen and (max-width: 480px) {
    .header h1 {
        font-size: 1.2em;
    }

    nav {
        font-size: 0.9em;
    }

    .hobbies-grid {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}

